.reveal {
  font-size: 0.8em; /* Adjust this value as needed */
}

.reveal h1 {
  font-size: 2.0em; /* Adjust this value as needed */
}

.reveal h2 {
  font-size: 1.5em; /* Adjust this value as needed */
}

/* Add more rules for other elements like p, li, etc. if necessary */
.reveal p {
  font-size: 0.9em;
}

.reveal li {
  font-size: 0.85em;
}